<h1>Course Show</h1>


<%= @course.name %>
<%= @course.address %>
<%= @course.city %>
<%= @course.state %>
<%= @course.zip %>
<%= @course.hole_count %>
<%= @course.course_condition %>
<%= @course.hole_type %>
<%= @course.tee_type %>
<%= @course.lat %>
<%= @course.long %>
<%= @course.pay %>
<%= @course.private %>
<%= @course.ave_score %>
<%= @course.played %>
<%= @course.comments %>

<br>
<br>
<br>

<% if @course.played == "no" %>
	<h1>Play the Course</h1>
	<%= link_to "Play Course", new_round_path, :class => "btn btn-primary"%>
<% else %>
	<%= link_to "New Round", new_round_path, :class => "btn btn-success"%>
<% end %>